*.*~
*.elc
.#*
.python-environments
abbrev_defs
ac-comphist.dat
anaconda-mode/
auto-save-list
elpa
emms/
eshell/
network-security.data
projectile-bookmarks.eld
projectile.cache
request/
session.*
tramp
url/
bookmarks
.mc-lists.el